<%- include('../../partials/header') %>


<header>
    <h1>Admin Dashboard</h1>
</header>
<main>
    <div class="container">
        <section class="top-bar">
            <h2>Personal Blog</h2>
            <button class="btn">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 -960 960 960"
                        fill="#fff"
                >
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                </svg>
                Add Article
            </button>
        </section>
        <section class="content">
            <h3>Published Articles</h3>
            <% articles.forEach(article => { %>
            <div class="line">
                <p><%= article.title %></p>
                <div class="line-btn">
                    <button class="admin-btn">Edit</button>
                    <button class="admin-btn delete">Delete</button>
                </div>
            </div>
        </section>
        <% }) %>

    </div>
</main>
<footer>
    <p>&copy; 2025 My Blog</p>
</footer>

<%- include('../../partials/footer') %>
